<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tienda-GamesCR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link href="producto.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>    

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div class="text-white" style="position: absolute; left: 42%; ">
                <h1>GAMES CR</h1>
            </div>
            <img src="images/header.jpg" class="img-fluid" alt="header"/>

        </header>

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg">        
            <div class="container-fluid">  
                <form class="d-flex" role="search">
                    <input class="form-control me-2 " type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" >
                            <a class="nav-link text-black" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="Lanzamientos.html">Lanzamientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-black" href="Noticias.html">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="Guias.html">Guias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="Analisis.html">Analisis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="Plataformas.html">Plataformas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="hardware.html">Hardware</a>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="Tienda.html">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/producto">Base De Datos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="InicioSesion.html">Usuario</a>
                        </li>
                        <li class="nav-item">
                            <img src="images/usuario.png" alt="usuario"/>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="custyle">
                <table class="table table-striped custab">
                    <h1 class= "text-black text-center" th:text="${titulo}"></h1>
                    <thead>
                    <a href="@{/editProducto/{id}(id=${user.getId})}" class="btn btn-primary btn-xs pull-right" style=""><b>+</b> Agregar nuevo producto</a>
                    <tr>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Garantia</th>
                        <th scope="col">Disponible</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <th:block th:each="user : ${productos}">
                        <tr>
                            <td scope="row" th:text="${user.getProducto}"></td>
                            <td class="text-center" scope="row" th:text="${user.getPrecio}"></td>
                            <td scope="row" th:text="${user.getDescripcion}"></td>
                            <td class="text-center" scope="row" th:text="${user.getGarantia}"></td>
                            <td class="text-center" scope="row" th:text="${user.getCant_disp}"></td>
                            <td class="text-center" scope="row" th:text="${user.getCategoria.getCategoria}"></td> </td>
                            <td>                        
                                <a th:href="@{/editProducto/{id}(id=${user.getId})}">Edit</a>                   
                            </td>
                            <td>                        
                                <a th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>                    
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
</html>